html,body {
font-family: Tahoma, Arial;
margin: 0px 0px 0px 0px;
background-image: url(../images/nuvole.jpg);
background-repeat: no-repeat;

}

#logo {
position:absolute;top:36px;left:0px;
width:60px;
height: 50px;
}

#mail{
    color:white;
    font-family:'Lucida Classic', 'Comic Sans MS';
font-size:25px;
font-weight: bold;

}
h1
{
position:relative;
color:white;
text-align: center;
top:10px;
font-family:'Lucida Classic', 'Comic Sans MS';
font-size:25px;
font-weight: bold;
width:100%;

}

h2{
position:relative;
color:white;
text-align: center;
font-family:'Lucida Classic', 'Comic Sans MS';;
font-size: 15px;
font-weight: bold;
width:100%;

}

#banner {
text-align: center;
position: relative; top:0px;
background-image: url(../images/ge2.jpg);
background-repeat: no-repeat;
height:15%;
width:100%;
}

#immagine{
background-image: url(../images/orange.jpg);
height:100%;
width:60%;
margin:0 auto;
padding:0;
}

#prenota{
background-color: silver;
width:20%;
margin:0 auto;
padding:0;
}

#title {
text-align: center;
color:#ffffff;
position:static;top:10px;
font-family:'Lucida Classic', 'Comic Sans MS';;
font-size: 60px;
font-weight: bold;
width:100%;
}

#register {
font-size: 12px;
position:absolute;top:70px;right:0px;
}


#menu {
background-image: url(../images/orange.jpg);
margin-top: 0px;
font-size: 12px;
color:#ffffff;
width:60%;
height: 30px;
text-align: right;
margin:0 auto;
padding:0;
}

#menu a:link {
color:white;
text-decoration: none;
}

#menu a:visited {
color:white;
text-decoration: none;
}

#menu a:hover {
color:blue;
text-decoration: underline;
}


#footer {
margin-bottom: 0px;
text-align: center;
font-size: 10px;
font-weight: bold;
color:#ffffff;
width:60%;
margin:0 auto;
padding:0;
}


#login {
	color: #000000;
	font-size: 10px;
	text-align: right;
	width: 100%;
	}

#login .inputfield {
	font-size: 11px;
	width: 110px;
	margin-right: 5px;
	}
	 
#login .submitbutton {
	font-size: 10px;
	background-color: gray;
	color: #ffffff;
	}


#benvenuto {
    display:block;
    color: #e01919;
    text-align:center;
    width: 200px;
    height: 100px;
}


a:link {
color:#e01919;
text-decoration: none;
}

a:visited {
color:#e01919;
text-decoration: none;
}

a:hover {
color:#e01919;
text-decoration: underline;
}


table.list
{   
    border: 1px solid #ddd; 
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

.formdate{
    width: 180px;
    margin-top: 200px;

}

.row0 {
    border: 1px solid #ddd; 
}

.row1 {
    border: 1px solid #ddd; 
    background-color: #f6e7e7;
}

#submitorder {
	background-color: #e01919;
	color: #ffffff;
}
